.faq h1 {
  margin-top: 40px;
  margin-bottom: 32px;
}

.faq-item {
  border-radius: 5px;
  margin-bottom: 16px;
}

.faq dl > div {
  padding: 20px;
  border-radius: 5px;
}

.faq dl > div:nth-child(odd) {
  background-color: #f5f5f5;
}

.faq dl > div:nth-child(even) {
  background-color: #ffffff;
}

.faq button {
  display: grid;
  grid-template-columns: auto 1fr auto;
  align-items: center;
  gap: 10px;
  cursor: pointer;
  border: none;
  background: none;
  width: 100%;
  text-align: left;
}

.faq button::before {
  content: "";
  width: 12px;
  height: 8px;
  background-color: #7633b1;
}

.faq button::after {
  content: "";
  display: inline-block;
  background-image: url("../img/icons/seta-abrir-black.svg");
  height: 6px;
  width: 14px;
}

.faq button:hover:after,
.faq button[aria-expanded="true"]::after {
  transform: rotate(180deg);
  transition: 0.3s;
}

.faq dd {
  display: none;
  margin-left: 7px;
  line-height: 1.4;
  padding-top: 12px;
  max-width: 80ch;
}

.faq dd.ativa {
  display: block;
}


.faq-item p {
  margin-top: 8px;
  margin-bottom: 8px;
}
@media (max-width: 450px) {
  .faq button {
    position: relative;
  }
  .faq button::before {
    position: absolute;
    top: 7px;
    left: -2px;
    width: 5px;
    height: 11px;
    display: block;
  }
}
@media (max-width: 320px) {
  .faq h1 {
    font-size: 1.75rem;
  }
}
