.who {
  padding-bottom: 40px;
}

.who h1:first-of-type {
  margin: 40px 0 20px 0;
  max-width: 660px;
}

.who li {
  display: flex;
  gap: 4px;
  margin-bottom: 8px;
  max-width: 560px;
}

.who li > img {
  margin-top: 2px;
  min-width: 18px;
}

.who > p:first-of-type {
  margin-top: 12px;
}
.who h1:last-of-type {
  margin-top: 20px;
}

.who > p {
  margin-bottom: 8px;
}

@media (max-width: 450px) {
  .who h1 {
    font-size: 1.75rem;
  }
  .who p {
    font-size: 1rem;
  }
}
