/*H1*/
.font-h1-l {
  /*40*/
  font: 700 2.5rem/1.2 "Inter", sans-serif;
  letter-spacing: 0.01em;
}
.font-h1-l-regular {
  /*40 REGULAR*/
  font: 400 2.5rem/1.2 "Inter", sans-serif;
  letter-spacing: 0.01em;
}
.font-h1 {
  /*32*/
  font: 700 2rem/1.2 "Inter", sans-serif;
  letter-spacing: 0.01em;
}
.font-h1-regular {
  /*32 REGULAR*/
  font: 400 2rem/1.2 "Inter", sans-serif;
  letter-spacing: 0.01em;
}

/*Texto*/
.font-p-l {
  /*24*/
  font: 400 1.5rem/1.275 "Inter", sans-serif;
}
.font-p {
  /*18*/
  font: 400 1.125rem/1.275 "Inter", sans-serif;
}
.font-p-s {
  /*16*/
  font: 400 1rem/1.275 "Inter", sans-serif;
}
.font-p-xxs-b {
  /*14 BOLD*/
  font: 700 0.875rem/1.275 "Inter", sans-serif;
}
.font-p-xxs {
  /*14 REGULAR*/
  font: 400 0.875rem/1.275 "Inter", sans-serif;
}
.font-sub {
  /*16 bold*/
  font: 700 1.125rem/1.125 "Fira Code", sans-serif;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.font-sub-alt {
  /*16 bold*/
  font: 700 1.125rem/1.125 "Fira Code", sans-serif;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

/*Botões*/
.font-btn {
  /*24 bold*/
  font: 700 1.5rem/1.125 "Fira Code", sans-serif;
}

.font-btn-xs {
  /*18 bold*/
  font: 700 1.125rem/1.125 "Fira Code", sans-serif;
}

.bold {
  font-weight: 700;
}

.italic {
  font-style: italic;
}
